<% layout("/layouts/boilerplate.ejs") %>
<h3>Create a new Listing</h3>
<form method="POST" action="/listings">
    <div class="md-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" 
            placeholder="Enter your Title" 
            type="text" 
            class="form-control">
    </div>
    <div class="md-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"
        type="text" class="form-control"></textarea>
    </div>
    <div class="md-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" 
        placeholder="Enter image URL" 
        type="text" class="form-control">
    </div>
    <div class="md-3">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" 
        placeholder="Enter your price" 
        type="number" class="form-control">
    </div>
    <div class="md-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" 
        placeholder="Enter your Location" 
        type="text" class="form-control">
    </div>
    <div class="md-3">
        <label for="Country" class="form-label">Country</label>
        <input name="listing[Country]" 
        placeholder="Enter your Country" 
        type="text" class="form-control">
    </div>
    <br/><br/>
    <button class="btn btn-dark">Add</button>
</form>
