.login-page {
    background-image: url("/images/login@.jpg"); /* Your login background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(6px);
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-card input {
    padding: 10px 14px;
    font-size: 15px;
}

.login-card button {
    padding: 10px;
    font-size: 16px;
}

/* Sign-Up page Styling */

.signup-page {
    background-image: url("/images/loginBG.jpg");  /* your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.signup-card {
    width: 100%;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(6px);
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.signup-card input {
    padding: 10px 14px;
    font-size: 15px;
}
.signup-card button {
    padding: 10px;
    font-size: 16px;
}

